:root {
    --main-color: #e4e5ee;
    --main-color-2: rgba(99, 113, 152, 0.74);
    --red-color: #db0962;
}

.bg-red-color {
    background-color: var(--red-color) !important;
}

.bg-main-color {
    background-color: var(--main-color) !important;
}

.bg-main-color-2 {
    background-color: var(--main-color-2) !important;
}

.text-main-color-2 {
    color: var(--main-color-2) !important;
}

* {
    font-family: "Cairo", sans-serif;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    z-index: 1000;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

#loader img.img-loader {
    height: 80px;
    width: 80px;
    animation: loading 1s infinite;
}

.form-select {
    padding: 0.375rem 0.75rem 0.375rem 0.75rem !important;
    background-position: left 0.75rem center !important;
}

@keyframes loading {
    from {
        margin-bottom: 0;
    }
    to {
        margin-bottom: 40px;
    }
}

/*Start Auth*/
.auth {
    width: 450px;
    margin-top: 100px;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & img {
        width: 80px;
        display: block;
        margin: 0 auto 30px;
    }

    & form input,
    & form select {
        width: 100%;
        background-color: transparent;
        border: 1px solid #637198;
        padding: 20px 0;
        border-radius: 50px;
        outline: none;
        font-size: 18px;
    }

    & form input::placeholder {
        font-size: 18px;
    }
}

@media (max-width: 700px) {
    .auth {
        width: 100%;
    }
}

/*End Auth*/

/*Start Halls*/
.halls {
    transform: translateY(-95px);
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    overflow-x: hidden;
}
/*End Halls*/
/*Start Footer*/
footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer ul li {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

footer ul li:hover {
    transform: scale(1.2);
}
/*End Footer*/
/* Start Rating */
.star-rating {
    white-space: nowrap;
}
.star-rating [type="radio"] {
    appearance: none;
}
.star-rating i {
    font-size: 1.2em;
    transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
    transform: scale(1.35);
    color: #fffdba;
    animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}
.star-rating label:has(~ :checked) i {
    color: #faec1b;
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {
    0%,
    50% {
        transform: translatey(0) scale(1.35);
    }
    100% {
        transform: translatey(-15%) scale(1.35);
    }
}
/* End Rating */
/* Start Model */
.cover {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 101%;
    height: 101%;
    z-index: 999;
    background-color: #4d4d4db0;
    transform: translate(-50%, -50%);
    transition: 1.5s;
}
#model {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 60%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    transition: 1s;
}
#closeBtn {
    font-size: 21px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border: 1px solid;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: 0.3s;
}
#model.hidden,
.cover.hidden{
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1000;
}
#model.show{
    width: 75% !important;
    height: 75% !important;
    opacity: 1 !important;
    z-index: 1000 !important;
}
.cover.show {
    width: 101% !important;
    height: 101% !important;
    opacity: 1 !important;
    z-index: 999 !important;
}
#closeBtn:hover {
    background-color: red;
    color: #fff;
}
/* End Model */
