:root {
    --main-color: #ff4081;
    --main-color-hover: #d9336c;
    --blue-color: #00829b;
}

body {
    font-family: "Almarai", sans-serif;
}

* {
    font-family: "Almarai", sans-serif;
}

.text-blue {
    color: var(--blue-color) !important;
}

.text-main {
    color: var(--main-color) !important;
}

/* Start Rating */
.star-rating {
    white-space: nowrap;
}

.star-rating [type="radio"] {
    appearance: none;
}

.star-rating i {
    font-size: 1.2em;
    transition: 0.3s;
}

.star-rating label:is(:hover, :has(~ :hover)) i {
    transform: scale(1.35);
    color: #fffdba;
    animation: jump 0.5s calc(0.3s + (var(--i) - 1) * 0.15s) alternate infinite;
}

.star-rating label:has(~ :checked) i {
    color: #faec1b;
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
}

@keyframes jump {
    0%,
    50% {
        transform: translatey(0) scale(1.35);
    }
    100% {
        transform: translatey(-15%) scale(1.35);
    }
}

/* End Rating */

/* Start Header */
.navbar {
    border-bottom: 1px dotted #000;
}

img.logo {
    width: 100px;
}

@media (max-width: 999px) {
    img.logo {
        width: 55px;
    }
}

.form-search {
    width: 55%;
}

@media (max-width: 999px) {
    .form-search {
        width: 100%;
    }
}

.form-search .div-search {
    position: relative;
    width: 100%;
}

.form-search .input-search {
    outline: none;
}

.form-search .btn-search {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
}

.main-btn {
    border: 0;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    transition: 0.4s;

    &:hover {
        background-color: var(--main-color-hover);
    }
}

.register-btn {
    border: 0;
    color: #c7c7c7;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.448);
    transition: 0.4s;

    &:hover {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.company-btn {
    border: 0;
    background-color: white;
    color: var(--blue-color);
    border-right: 1px solid var(--blue-color);
    border-bottom: 1px solid var(--blue-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.448);
    transition: 0.4s;

    &:hover {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    }
}

.nav-bottom {
}

.nav-bottom ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    gap: 15px;
}

.nav-bottom ul li {
    padding: 5px 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
}

.nav-bottom ul li.active,
.nav-bottom ul li:hover {
    border-bottom: 3px solid var(--main-color);
    border-right: 3px solid var(--main-color);
}

.nav-bottom ul li a {
    text-decoration: none;
    color: #c7c7c7;
    font-weight: bold;
}

/* End Header */
/* Start Home */
.home {
    /* min-height: calc(100vh - 194px); */
    background-image: url("../images/bg-banr.jpeg");
    background-position: center;
    background-size: cover;
}

.home .filter-box {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.home .filter-box h2 {
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    line-height: 1.5;
}

.home .filter-box p {
    color: rgba(0, 0, 0, 0.5);
}

.home .filter-box form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .filter-box form .select select {
    width: 100%;
    background-color: transparent;
    border: 1px solid #c7c7c7;
    padding: 22px 15px 5px 15px;
}

.home .filter-box form .select span {
    top: 5px;
    right: 15px;
    font-size: 12px;
    color: #c7c7c7;
    font-weight: bold;
}

/* End Home */
/* Start Halls */
.halls .sidebar {
    border: 1px solid #c1c1c1;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.halls .sidebar select {
    border: 1px solid #c1c1c1;
    border-radius: 50px;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/* End Halls */

/*Start Order*/
.order input {
    width: 100%;
    direction: rtl;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #c1c1c1;
    background-color: transparent;
    margin: 8px 0;
}

/*End Order*/

/* Start Models */
.models {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1000;
    opacity: 0;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.models.show {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    opacity: 1;
}

.models .login,
.models .register,
.models .company,
.models .model {
    position: absolute;
    top: -300px;
    left: 50%;
    display: none;
    transform: translateX(-50%);
    border-radius: 15px;
    width: 500px;
    background-color: #fff;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.models .model{
    width: 80% !important;
    min-height: 350px;
}
.models .model .row{
    /*height: 300px;*/
}

@media (max-width: 700px) {
    .models .login,
    .models .register,
    .models .company {
        width: 100%;
    }
}

.models .login.show,
.models .register.show,
.models .company.show,
.models .model.show{
    display: block;
    top: 30px;
    opacity: 1;
}

.models .close-model i {
    /*background-color: red;
    */
    padding: 10px;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &:hover {
        background-color: red;
        color: #fff;
    }
}

.models .logo {
    width: 120px;
}

.models form .inp-group i {
    height: 100%;
    top: 0;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blue-color);
}

.models form .inp-group input,
.models form .inp-group select {
    width: 100%;
    direction: rtl;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #c1c1c1;
    background-color: transparent;
}

/* Start Models */

